/********************
** Breakpoints
********************/
/********************
** Fonts
********************/
/********************
** Colors
********************/
/********************
** Images
********************/
@font-face {
  font-family: "ArnoPro Regular";
  src: url(../fonts/arnopro-regular/ArnoPro-Regular.otf) format("truetype"); }

@font-face {
  font-family: "Brandon Grotesque bold";
  src: url(../fonts/brandon-grotesque/Brandon_bld.otf) format("opentype"); }

@font-face {
  font-family: "Brandon Grotesque bold italic";
  src: url(../fonts/brandon-grotesque/Brandon_blk_it.otf) format("opentype"); }

@font-face {
  font-family: "Brandon Grotesque light";
  src: url(../fonts/brandon-grotesque/Brandon_light.otf) format("opentype"); }

@font-face {
  font-family: "Brandon Grotesque reg";
  src: url(../fonts/brandon-grotesque/Brandon_reg.otf) format("opentype"); }

@font-face {
  font-family: "Brandon Grotesque reg italic";
  src: url(../fonts/brandon-grotesque/Brandon_reg_it.otf) format("opentype"); }

@font-face {
  font-family: "Dense Regular";
  src: url(../fonts/dense-regular/Dense-Regular.otf) format("opentype"); }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin-bottom: 0.67em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

#mediaquery {
  position: absolute;
  top: -50px;
  -webkit-transition: width 0.001s linear;
  -moz-transition: width 0.001s linear;
  -ms-transition: width 0.001s linear;
  -o-transition: width 0.001s linear;
  transition: width 0.001s linear;
  width: 50px;
  width: 100px; }
  #mediaquery:after {
    content: "mobile";
    content: "tablet";
    content: "desktop"; }

/********************
** Base
********************/
* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%;
  background: white;
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%;
  color: black;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-size: 1rem; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  -moz-user-drag: -moz-none;
  -webkit-user-drag: none;
  user-drag: none; }

:focus {
  outline: 0; }

/********************
** Paragraph and list style resets
********************/
p, dl, ol, ul {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 0;
  list-style-type: none; }

li ul, li ol {
  margin: 0; }

/********************
** Forms
********************/
input,
select,
textarea {
  display: block;
  -webkit-appearance: none; }

/********************
** Headers
********************/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-weight: normal; }

h1, .h1 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 17px;
  /* 9 */
  font-size: 1.7rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 17px;
  /* 9 */
  line-height: 1.7rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 30px;
  /* 9 */
  line-height: 3rem;
  /* 9 */ }

h2, .h2 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 18px;
  /* 9 */
  line-height: 1.8rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 20px;
  /* 9 */
  line-height: 2rem;
  /* 9 */ }

h3, .h3 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 18px;
  /* 9 */
  line-height: 1.8rem;
  /* 9 */ }

h4, .h4 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */ }

h5, .h5 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */ }

h6, .h6 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 16px;
  /* 9 */
  line-height: 1.6rem;
  /* 9 */ }

.swatches {
  list-style-type: none;
  padding: 0; }
  .swatches .swatch {
    padding: 20px;
    width: 250px; }

/********************
** Global
********************/
.phark {
  display: none; }

/********************
** Layout
********************/
.page {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

.main-content {
  position: relative;
  margin-left: 60px;
  max-width: 1200px;
  margin-left: 70px; }

.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .unstyled-list li {
    margin-left: 0; }

.inline-list {
  margin-left: 4px; }
  .inline-list li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: -4px; }

.inline {
  display: inline; }

.faux-table {
  display: table;
  width: 100%; }

.no-bottom-margin {
  margin-bottom: 0; }

.centered-content {
  text-align: center; }
  .centered-content img {
    margin-left: auto;
    margin-right: auto; }

.relative-wrapper {
  position: relative; }

.hidden {
  visibility: hidden; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/********************
** Grid System
********************/
.two-thirds {
  float: left;
  width: 66.666666666%; }

.half {
  float: left;
  width: 50%; }

.third {
  float: left;
  width: 33.333333333%; }

.quarter {
  float: left;
  width: 50%;
  width: 25%; }

.faux-table > .two-thirds {
  display: table-cell;
  float: none;
  vertical-align: top; }
.faux-table > .half {
  display: table-cell;
  float: none;
  vertical-align: top; }
.faux-table > .third {
  display: table-cell;
  float: none;
  vertical-align: top; }
.faux-table > .quarter {
  display: table-cell;
  float: none;
  vertical-align: top; }

/********************
** Layouts
********************/
.btn {
  padding: 19px;
  border: 1px solid #ccc;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Brandon Grotesque bold";
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 8px;
  /* 9 */
  font-size: 0.8rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 8px;
  /* 9 */
  line-height: 0.8rem;
  /* 9 */ }
  .btn:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-bottom: 2px;
    border-top: 4px solid transparent;
    border-left: 7px solid #f47a0b;
    border-bottom: 4px solid transparent; }

.buttons ul {
  list-style-type: none; }

.button-two {
  border: none;
  background: none;
  color: black;
  padding: 0;
  font-weight: 400; }
  .button-two:after {
    border-left: 5px solid #00236f; }

.button-three {
  padding: 19px 0;
  border: none;
  background: none;
  color: black; }

/********************
** Search
********************/
input.search-submit {
  padding: 17px;
  border: 1px solid #87898d;
  text-transform: uppercase;
  color: white;
  background: transparent;
  display: inline-block;
  box-shadow: none;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 7px;
  /* 9 */
  font-size: 0.7rem;
  /* 9 */
  font-family: "Brandon Grotesque bold";
  width: 18%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 8px;
  /* 9 */
  font-size: 0.8rem;
  /* 9 */ }

input.search-input {
  padding: 17px;
  background: #2c3349;
  opacity: 0.8;
  display: inline-block;
  color: white;
  width: 80%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 7px;
  /* 9 */
  font-size: 0.7rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 9px;
  /* 9 */
  font-size: 0.9rem;
  /* 9 */ }
  input.search-input:-moz-placeholder, input.search-input::-moz-placeholder, input.search-input::-webkit-input-placeholder, input.search-input:-ms-input-placeholder {
    font-style: italic; }

input.search-input::-webkit-input-placeholder {
  font-style: italic; }

input.search-input:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic; }

input.search-input::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic; }

input.search-input:-ms-input-placeholder {
  font-style: italic; }

.heading-banner {
  position: relative;
  padding: 12px 15px;
  min-height: 250px;
  background: url(../images/banner-header-01.png) no-repeat 0 0;
  background-size: cover;
  min-height: 300px; }
  .heading-banner h1 {
    text-align: right;
    text-transform: uppercase;
    padding: 30px 0 0;
    position: absolute;
    right: 100px;
    width: 200px;
    color: white;
    right: 200px;
    padding: 50px 0 0;
    width: auto; }
  .heading-banner img {
    display: inline-block;
    width: 100px;
    max-width: 180px;
    position: absolute;
    right: 1%;
    width: auto; }
  .heading-banner p {
    position: absolute;
    bottom: -10px;
    text-align: right;
    right: 20px;
    color: #87beef;
    font-weight: 100;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 12px;
    /* 9 */
    font-size: 1.2rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 15px;
    /* 9 */
    line-height: 1.5rem;
    /* 9 */
    bottom: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 14px;
    /* 9 */
    font-size: 1.4rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 20px;
    /* 9 */
    line-height: 2rem;
    /* 9 */
    right: 200px;
    bottom: -20px;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 16px;
    /* 9 */
    font-size: 1.6rem;
    /* 9 */
    max-width: 60%; }

/********************
** LOGO
********************/
/********************
** Side Nav
********************/
.sidenav {
  background: #141924;
  position: fixed;
  height: 100%; }
  .sidenav .logo {
    background: url(../images/nav-logo.png) no-repeat 50% 50%;
    background-size: 45px;
    height: 110px;
    border-bottom: 1px solid #87898d;
    padding-bottom: 20px;
    margin-bottom: 0; }
  .sidenav nav li a {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 55px;
    background: url(../images/sprites/nav-sprite.png) no-repeat 0 0;
    width: 70px; }
  .sidenav nav .nav-1 {
    background-position: 11px 11px; }
  .sidenav nav .nav-2 {
    background-position: 11px -40px; }
  .sidenav nav .nav-3 {
    background-position: 11px -110px; }
  .sidenav nav .nav-4 {
    background-position: 8px -182px; }
  .sidenav nav .nav-5 {
    background-position: 8px -250px; }

.footer {
  background: #1d2438;
  color: #999da8;
  margin-left: 50px;
  max-width: 1200px;
  font-family: "Brandon Grotesque bold";
  margin-left: 70px; }
  .footer a {
    color: #999da8;
    text-decoration: none; }
  .footer .footer-wrapper {
    margin: 0 auto; }
  .footer .footer-block {
    vertical-align: top;
    display: inline-block;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 8px;
    /* 9 */
    font-size: 0.8rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 8px;
    /* 9 */
    line-height: 0.8rem;
    /* 9 */ }
  .footer .info {
    width: 100%;
    border-bottom: 1px solid #2e3447;
    width: 24%;
    padding: 20px;
    border-bottom: none; }
    .footer .info .logo {
      margin-bottom: 0;
      color: white;
      text-align: right;
      text-transform: uppercase;
      background: url(../images/nav-logo.png) no-repeat 100% 10%;
      background-size: 60px;
      height: 86px;
      padding: 10px 60px 10px 0;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 12px;
      /* 9 */
      font-size: 1.2rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 12px;
      /* 9 */
      line-height: 1.2rem;
      /* 9 */
      width: 200px;
      margin: 0 auto;
      width: auto; }
    .footer .info .street, .footer .info .city, .footer .info .phone, .footer .info .email {
      padding-right: 30px;
      margin-bottom: 0;
      text-align: center;
      text-align: right; }
    .footer .info .email {
      color: #005db0;
      font-weight: 600; }
  .footer .footer-block-wrapper {
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #2e3447;
    text-align: center;
    text-align: left;
    width: 48%;
    border-right: 1px solid #2e3447;
    border-left: 1px solid #2e3447;
    border-bottom: none; }
  .footer .footer-block .nav {
    width: 100%;
    width: 48.5%;
    border-right: 1px solid #2e3447;
    margin-bottom: 50px; }
    .footer .footer-block .nav li {
      margin-bottom: 5px; }
  .footer .footer-block .sub-nav {
    width: 100%;
    padding: 0 20px;
    width: 48.5%; }
    .footer .footer-block .sub-nav li {
      margin-bottom: 5px; }
  .footer .legal {
    display: block;
    text-align: center;
    padding: 20px;
    width: 25%;
    text-align: left;
    display: inline-block; }
    .footer .legal p {
      margin: 0; }
    .footer .legal h1 {
      margin: 0; }
      .footer .legal h1 .penn-u-logo {
        background: url(../images/Penn-U-Logo.png) no-repeat 100% 50%;
        display: inline-block;
        height: 60px;
        width: 135px; }
    .footer .legal li {
      margin-bottom: 5px; }
      .footer .legal li a {
        text-transform: uppercase; }

.connecting-block {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #87898d;
  max-width: 50%;
  margin: 0;
  float: left;
  border-right: 1px solid #87898d;
  max-width: 25%;
  border-bottom: 0;
  padding: 20px 0; }
  .connecting-block h1 {
    color: #70706d;
    text-transform: uppercase;
    font-family: "Dense Regular"; }
    .connecting-block h1:before {
      content: "";
      display: block;
      width: 45px;
      height: 60px;
      margin: 0 auto;
      background: url(../images/sprites/nav-sprite.png) no-repeat 0 -320px; }
  .connecting-block p {
    margin: 0 auto;
    color: #87898d;
    font-style: italic;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 9px;
    /* 9 */
    font-size: 0.9rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    letter-spacing: 0.1px;
    /* 9 */
    letter-spacing: 0.01rem;
    /* 9 */
    font-family: "Brandon Grotesque reg";
    font-weight: 500;
    width: 150px; }
  .connecting-block .more a {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 8px;
    /* 9 */
    font-size: 0.8rem;
    /* 9 */
    font-family: "Brandon Grotesque bold"; }

/********************
** News Blocks
********************/
.news {
  display: block;
  padding: 50px 30px;
  padding: 100px 60px; }
  .news .section-title {
    color: #005db0;
    font-family: "Dense Regular";
    text-transform: uppercase;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 16px;
    /* 9 */
    font-size: 1.6rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 16px;
    /* 9 */
    line-height: 1.6rem;
    /* 9 */ }
    .news .section-title:after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background: #f8f5f4;
      opacity: .5; }
  .news .news-feed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
    .news .news-feed .news-block li {
      margin-bottom: 20px;
      padding: 20px;
      display: inline-block;
      width: 210px; }
      .news .news-feed .news-block li + li {
        border-bottom: 1px solid #f8f5f4;
        border-left: 1px solid #f8f5f4;
        border-bottom: none; }
      .news .news-feed .news-block li h1 {
        font-family: "Brandon Grotesque bold";
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 14px;
        /* 9 */
        font-size: 1.4rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 14px;
        /* 9 */
        line-height: 1.4rem;
        /* 9 */
        margin-bottom: 10px; }
      .news .news-feed .news-block li p {
        font-family: "Brandon Grotesque reg";
        color: #121212;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 10px;
        /* 9 */
        font-size: 1rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 12px;
        /* 9 */
        line-height: 1.2rem;
        /* 9 */ }
      .news .news-feed .news-block li .time-stamp {
        font-family: "Brandon Grotesque bold italic";
        color: #87898d;
        font-weight: 100;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 9px;
        /* 9 */
        font-size: 0.9rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 9px;
        /* 9 */
        line-height: 0.9rem;
        /* 9 */
        margin-bottom: 10px; }

/********************
** Feature Block (3 Blocks wide)
********************/
.featured-area {
  height: 400px;
  color: white; }
  .featured-area img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%; }
  .featured-area .main-feature-block {
    position: relative;
    padding: 80px 40px;
    display: block;
    float: left;
    clear: both;
    background: url(http://placekitten.com/800/400) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 400px;
    width: 66.666%; }
    .featured-area .main-feature-block h1 {
      font-family: "Dense Regular";
      text-transform: uppercase;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 16px;
      /* 9 */
      font-size: 1.6rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 16px;
      /* 9 */
      line-height: 1.6rem;
      /* 9 */ }
      .featured-area .main-feature-block h1:after {
        content: "";
        display: inline-block;
        height: 55px;
        width: 55px;
        background: url(../images/sprites/icon-sprite.png) no-repeat -22px 0; }
    .featured-area .main-feature-block h2 {
      font-family: "Brandon Grotesque bold";
      max-width: 350px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 20px;
      /* 9 */
      font-size: 2rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 20px;
      /* 9 */
      line-height: 2rem;
      /* 9 */
      margin-bottom: 30px; }
  .featured-area .featured {
    padding: 80px 20px;
    display: block;
    float: left;
    width: 100%;
    height: 400px;
    position: relative;
    width: 33.333%; }
  .featured-area .sub-feature-block img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%; }
  .featured-area .sub-feature-block h1 {
    font-family: "Dense Regular";
    text-transform: uppercase;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 15px;
    /* 9 */
    font-size: 1.5rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 15px;
    /* 9 */
    line-height: 1.5rem;
    /* 9 */ }
    .featured-area .sub-feature-block h1:after {
      content: "";
      display: inline-block;
      height: 55px;
      width: 55px;
      background: url(../images/sprites/icon-sprite.png) no-repeat -22px -91px; }
  .featured-area .sub-feature-block h2 {
    font-family: "Brandon Grotesque bold";
    max-width: 70%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 20px;
    /* 9 */
    font-size: 2rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 20px;
    /* 9 */
    line-height: 2rem;
    /* 9 */
    margin-bottom: 30px; }
  .featured-area .standard-feature-block {
    padding: 80px 10px 80px 20px;
    padding: 80px 60px 0 30px; }
    .featured-area .standard-feature-block img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%; }
    .featured-area .standard-feature-block h1 {
      font-family: "Brandon Grotesque bold";
      max-width: 85%;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 18px;
      /* 9 */
      font-size: 1.8rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 18px;
      /* 9 */
      line-height: 1.8rem;
      /* 9 */
      margin-bottom: 30px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 20px;
      /* 9 */
      font-size: 2rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 20px;
      /* 9 */
      line-height: 2rem;
      /* 9 */ }
  .featured-area .special-feature-block {
    background: #ced9e6; }
    .featured-area .special-feature-block h1 {
      font-family: "Dense Regular";
      text-transform: uppercase;
      color: #005db0;
      font-weight: 400;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 15px;
      /* 9 */
      font-size: 1.5rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      letter-spacing: 1px;
      /* 9 */
      letter-spacing: 0.1rem;
      /* 9 */ }
    .featured-area .special-feature-block h2 {
      color: #141824;
      font-family: "Brandon Grotesque light";
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 15px;
      /* 9 */
      font-size: 1.5rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 19px;
      /* 9 */
      line-height: 1.9rem;
      /* 9 */
      margin-bottom: 30px;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 20px;
      /* 9 */
      font-size: 2rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      line-height: 22px;
      /* 9 */
      line-height: 2.2rem;
      /* 9 */ }

/*@media only print { 
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  .header, .footer, .sidebar, img, form { display: none !important; }
  #container, .content, .content-main { width:100%; padding: 0; margin: 0; }
  a { text-decoration: underline; }
  pre, blockquote, tr, h2, h3 { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
}*/
