@font-face {
	font-family: "ArnoPro Regular";
    src: url(fonts/arnopro-regular/ArnoPro-Regular.otf) format("truetype");
}
@font-face {
	font-family: "Brandon Grotesque bold";
    src: url(fonts/brandon-grotesque/Brandon_bld.otf) format("truetype");
}

@font-face {
	font-family: "Brandon Grotesque light";
    src: url(fonts/brandon-grotesque/Brandon_light.otf) format("truetype");
}
@font-face {
	font-family: "Brandon Grotesque regular";
    src: url(fonts/brandon-grotesque/Brandon_reg.otf) format("truetype");
}
@font-face {
	font-family: "Brandon Grotesque regular italic";
    src: url(fonts/brandon-grotesque/Brandon_reg_it.otf) format("truetype");
}
@font-face {
	font-family: "Dense Regular";
    src: url(fonts/dense-regular/Dense-Regular.otf) format('opentype');
}