/********************
** Breakpoints
********************/

$bp-tinyBear:           420;
$bp-babyBear:           768;
$bp-mamaBear:           1024;
$bp-papaBear:           1200;

/********************
** Fonts
********************/

$baseFontSize:          10;
$baseLineHeight:        1.5em;

$f-base:                Helvetica, Arial, sans-serif;

$f-primary:             $f-base;

/********************
** Colors
********************/

$c-primary:             #000;

$c-secondary:           #000;

$c-tertiary:            #000;

$c-body:                #fff;
$c-base:                #000;

$penn-blue-01:			#141924;
$penn-blue-02:			#00236f;
$penn-blue-03:			#01a99e;
$penn-blue-04:			#738987;
$penn-blue-05:			#1d2438;
$penn-blue-06:			#005db0;
$penn-blue-07:			#2c3349;
$penn-blue-08:			#87beef;

$penn-orange:			#f47a0b;
$penn-greenish:			#d1d8a6;
$penn-gold-01: 			#ffd029;
$penn-gold-02: 			#dca601;
$penn-red-01:			#f53b26;
$penn-red-02:			#960014;


$penn-black:			#000;
$penn-black-02:			#141824;
$penn-black-03:			#121212;
$penn-white:			#fff;
$penn-grey-01:			#87898d;
$penn-grey-02:			#999da8;
$penn-grey-03:			#70706d;	
$penn-grey-04:			#2e3447;
$penn-grey-05:			#ced9e6;
$penn-grey-06:			#f8f5f4;


/********************
** Images
********************/

$i-filePath:            '../images/';