/********************
** Breakpoints
********************/

$bp-babyBear:           768;
$bp-mamaBear:           1024;
$bp-papaBear:           1200;

/********************
** Fonts
********************/

$baseFontSize:          10;
$baseLineHeight:        1.5em;

$f-base:                Helvetica, Arial, sans-serif;

$f-primary:             $f-base;

/********************
** Colors
********************/

$c-primary:             #000;

$c-secondary:           #000;

$c-tertiary:            #000;

$c-body:                #fff;
$c-base:                #000;

/********************
** Images
********************/

$i-filePath:            '../images/';