.btn { 
	padding:19px;	
	border:1px solid #ccc;
	display: inline-block;
	background: rgba(0, 0, 0, 0.4);;
	text-decoration: none;
	color:$penn-white;
	text-transform: uppercase;
	font-family: "Brandon Grotesque bold";
	@include rem(font-size, 0.8rem);
	@include rem(line-height , 0.8rem);
	&:after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 10px;
			margin-bottom: 2px;	
			border-top: 4px solid transparent;
			border-left: 7px solid $penn-orange;
			border-bottom: 4px solid transparent;
	}
}
.buttons {
	ul {
		list-style-type: none;
	}
}
.button-one {

}
.button-two {
	border:none;
	background:none;
	color:$penn-black;
	padding:0;
	font-weight: 400;
	&:after {
		border-left: 5px solid $penn-blue-02;
	}
}
.button-three {
	padding:19px 0; 
	border:none;
	background:none;
	color:$penn-black;
}

/********************
** Search
********************/
input.search-submit {
	padding:17px;	
	border:1px solid $penn-grey-01;
	text-transform: uppercase;
	color:$penn-white;
	background: transparent;
	display: inline-block;
	box-shadow: none;

	@include rem(font-size, 0.7rem);
	font-family: "Brandon Grotesque bold";
	@include bp(baby-bear) {
		width: 18%;
		@include rem(font-size, 0.8rem);
	}
}
input.search-input {
	padding:17px;
	background:$penn-blue-07;
	opacity: 0.8;
	display: inline-block;
	color:$penn-white;
	width:80%;
	@include rem(font-size, 0.7rem);
	@include bp(baby-bear) {
		@include rem(font-size, 0.9rem);
	}
	&:-moz-placeholder,&::-moz-placeholder,&::-webkit-input-placeholder, &:-ms-input-placeholder {
		font-style: italic;
	}
}
input.search-input::-webkit-input-placeholder {
	font-style: italic;
}

input.search-input:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

input.search-input::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic; 
}

input.search-input:-ms-input-placeholder {  
	font-style: italic; 
}