.unstyled-list { margin: 0; padding: 0; list-style: none;
	li { margin-left: 0; }
}

.inline-list { margin-left: 4px;
	li { @include inline-block(); margin-left: -4px; }
}

.inline { display: inline; }

.faux-table { display: table; width: 100%; }

.no-bottom-margin { margin-bottom: 0; }

.centered-content { text-align: center;

    img { margin-left: auto; margin-right: auto; }
}

.relative-wrapper { position: relative; }

.hidden { visibility: hidden; }


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

